{{ extends "auth.tmpl" }}

{{define "title" -}}Reset password{{end}}

{{define "auth" -}}
<h1>Reset password</h1>
<form method="post">
    <label>
        <span>New password:</span>
        <input type="password" name="password" placeholder="Max 56 chars, ASCII only" required />
    </label>
    <input type="submit" value="Reset password" />
</form>
{{end}}
