{{ extends "auth.tmpl" }}

{{define "title" -}}Reset password{{end}}

{{define "auth" -}}
<h1>Reset password</h1>
<form method="post" action="/reset-password">
    <label>
        <span>Email:</span>
        <input type="email" name="email" placeholder="Email" required />
    </label>
    <input type="submit" value="Reset password" />
</form>
<a href="/login">Login</a><br />
<a href="/register">Sign up</a>
{{end}}
