{{ extends "base.tmpl" }}

{{define "title" -}}Habits - {{end}}

{{define "content" -}}
	<h1>Welcome, <i>{{.User.Username}}</i>!</h1> 
    <a href="/logout">← Logout</a><br />
    <div style="margin-top:20px;"></div>
    <div class="habits-title">
        <h3>Positive habits</h3>
        <a href="/new-positive" class="button">+ Add</a>
    </div>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Last time</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {{ range .Positive }}
            <a href="/habits/{{ .ID }}">
                <tr class="{{.Class}}">
                    <td>{{ .Name }}</td>
                    <td><i>{{ .LastAck }}</i></td>
                    <td class="actions">
                        {{ if not .Disabled }}
                        <form action="/ack/{{ .ID }}" method="post">
                            <input type="submit" value="Ack" />
                        </form>
                        {{ end }}
                        <form action="/habits/{{ .ID }}" method="get">
                            <input type="submit" value="Edit" />
                        </form>
                    </td>
                </tr>
            </a>
            {{ end }}
        </tbody>
        <tfoot></tfoot>
    </table>

    <div class="habits-title">
        <h3>Negative habits</h3>
        <a href="/new-negative" class="button">+ Add</a>
    </div>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Last time</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {{ range .Negative }}
            <tr class="{{.Class}}">
                <td>{{ .Name }}</td>
                <td><i>{{ .LastAck }}</i></td>
                <td class="actions">
                    <form action="/ack/{{ .ID }}" method="post">
                        <input type="submit" value="Ack" />
                    </form>

                    <form action="/habits/{{ .ID }}" method="get">
                        <input type="submit" value="Edit" />
                    </form>
                </td>
            </tr>
            {{ end }}
        </tbody>
        <tfoot></tfoot>
    </table>
{{end}}
