{{ extends "base.tmpl" }}

{{define "title" -}}WellBinge{{end}}

{{define "content" -}}
	<h1>WellBinge</h1> 
    <h4>Create positive habits, get reminders, quit addictions.</h4>
    <center>
        <a href="/habits" class="button">Start now</a>
    </center>
   
{{end}}
