{{ extends "base.tmpl" }}

{{define "title" -}}Auth boilerplate{{end}}

{{define "content" -}}
	<h1>Auth boilerplate</i>!</h1> 
    <p>This page is accessible to anyone.</p>
    <a href="/profile" class="button">Start</a>
{{end}}
